<body>

  <div class="container">

    <h1 id="mainheader" class="col-md-12">YUMMY TACOS!</h1>

    <br>
    

    <div class="w3-content w3-section" style="max-width:700px">
      <img class="mySlides" src="/assets/img/tacos1.jpg" >
      <img class="mySlides" src="/assets/img/tacos2.jpg" >
      <img class="mySlides" src="/assets/img/tacos3.jpg" >
      <img class="mySlides" src="/assets/img/tacos4.jpg" >
      <img class="mySlides" src="/assets/img/tacos5.jpg" >
      <img class="mySlides" src="/assets/img/tacos6.jpg" >
    </div>



    <br>

    <div id="form">
    <h2 id="secondHeader">Which TACO do you want to add? </h2>
      <div class="col-md-6 col-md-offset-3">
        <form action="/add" method="POST">
        	<textarea name="taco" placeholder=""></textarea>
          <br>
        	<input id="tacoSubmit" class="btn btn-primary" type="submit"></input>
        </form>
      </div>
    </div>

    <div id="uneatenTacos" class="col-md-6">
      <h3 class="headers">Ready to Eat Tacos!</h3>
      <hr>
        <ul>
          {{#each tacos}}
            {{#unless this.devoured}}
            <div id="uneatenList">
              <ul>
                {{this.name}}
                
                <div>
                  <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="true">
                    <button class="btn btn-primary" type="submit">EAT!</button>
                  </form>
                </div>

              </ul>
            </div>
            {{/unless}}
          {{/each}}
        </ul>
    </div>

    <div id="eatenTacos" class="col-md-6">
      <h3 class="headers">Devoured Tacos!</h3>
      <hr>
        <ul>
          {{#each tacos}}
            {{#if this.devoured}}
            <div id="eatenList">
              <ul>
                {{this.name}}
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="false">
                  <button class="btn btn-primary" type="submit">UNEAT</button>
                </form>
              </ul>
            </div>
            {{/if}}
          {{/each}}
        </ul>
    </div>

  </div>

</body>
