
body {
	background-color: #7abf93;
}

h1, h2, #form, #uneatenTacos, #eatenTacos{
	text-align: center;
}

#mainheader {
	font-family: 'Indie Flower', cursive;
	font-size: 80px;
	font-weight: bold;
}

#secondHeader {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	font-weight: bold;
}

img.mySlides {
	width: 100%;
	height: 300px;
}

.container {
	margin-top: 20px;
}

.headers {
	font-size: 40px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

ul {
	padding-left: 0;
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

.btn-primary {
    color: black;
    background-color: #A9DABB;
    border-color: #2e6da4;
}


