
body {
	background-color: #7abf93;
}

h1, h2, #form, #uneatenTacos, #eatenTacos{
	text-align: center;
}

#mainheader {
	font-family: 'Indie Flower', cursive;
	font-size: 80px;
	font-weight: bold;
}

#secondHeader {
	font-family: 'Indie Flower', cursive;
	font-size: 40px;
}

img.mySlides {
	width: 100%;
	height: 300px;
}

.container {
	margin-top: 20px;
}

#submitButton {
	width: 100px;
	height: 25px;
	text-align: center;
}

ul {
	padding-left: 0;
}



